flows.json
[{"id":"20e9c1fe.44cdee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f22b90b0.c259d","type":"ui_text","z":"20e9c1fe.44cdee","group":"5703124b.5ada8c","order":1,"width":0,"height":0,"name":"","label":"Text Response","format":"{{msg.text}}","layout":"row-spread","x":1160,"y":600,"wires":[],"inputLabels":["Motion Sensor"]},{"id":"c54e805.e740d8","type":"EMOTIV","z":"20e9c1fe.44cdee","name":"EMOTIV","x":180,"y":580,"wires":[["2e6301bd.33e6ce"]]},{"id":"2e6301bd.33e6ce","type":"Profile-Name","z":"20e9c1fe.44cdee","name":"Profile Name","profileName":"","x":360,"y":520,"wires":[["cd4b5ee1.2e817"]]},{"id":"d90d6613.726708","type":"ui_text","z":"20e9c1fe.44cdee","group":"5703124b.5ada8c","order":0,"width":0,"height":0,"name":"data","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":340,"wires":[],"inputLabels":["Motion Sensor"]},{"id":"98a71ba2.1a0e48","type":"ui_chart","z":"20e9c1fe.44cdee","name":"chart1","group":"5703124b.5ada8c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":480,"wires":[[]],"inputLabels":["Motion Sensor"]},{"id":"cd4b5ee1.2e817","type":"Motion-Sensor","z":"20e9c1fe.44cdee","name":"Motion Sensor","metric":"4","x":680,"y":480,"wires":[["d90d6613.726708","98a71ba2.1a0e48","f22b90b0.c259d"]]},{"id":"5703124b.5ada8c","type":"ui_group","z":0,"name":"Group 1","tab":"42d111e.44596f","order":1,"disp":true,"width":6},{"id":"42d111e.44596f","type":"ui_tab","z":0,"name":"Tab 1","icon":"dashboard","order":1}]